<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout.html }">

<!--/* /layout/layout.html 파일의 "content" 프래그먼트에 삽입될 컨텐트 */-->
<div layout:fragment="content">
    <div class="card my-2" style="text-align: center">
        <div class="card-header">
            <h1>포스트 목록 페이지</h1>
        </div>
        <div class="card-body">
            <div class="my-2">
                <form th:action="@{/post/search}">
                    <div class="row">
                        <div class="col-5">
                            <select name="type" class="form-control">
                                <option value="t">제목</option>
                                <option value="c">내용</option>
                                <option value="tc">제목 + 내용</option>
                                <option value="a">작성자</option>
                            </select>
                        </div>
                        <div class="col-5">
                            <input class="form-control" type="text" name="keyword" placeholder="검색어" required autofocus/>
                        </div>
                        <div class="col-2">
                            <input type="submit" value="검색" class="btn btn-outline-info"/>
                        </div>
                    </div>
                </form>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>수정시간</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="post : ${list}">
                        <td th:text="${post.id}"></td>
                        <td>
                            <a th:href="@{/post/detail?id={id}(id=${post.id})}" th:text="${post.title}"></a>
                        </td>
                        <td th:text="${post.author}"></td>
                        <td
                            th:text="${#temporals.format(post.modifiedTime, 'yyyy-mm-dd HH:mm:ss')}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="createModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">성공</h5>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>새 글 ([[${createdId}]]) 작성 성공</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div><!-- modal -->
    
      <div id="deleteModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">삭제성공</h5>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>삭제 성공</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div><!-- modal -->
</div> <!-- content -->

<script layout:fragment="script" th:inline="javascript">
if([[${createdId}]]){
	const createModal = document.querySelector('#createModal');
	const modal = new bootstrap.Modal(createModal);
	modal.show();
}
if([[${deletedPostId}]]){
    const createModal = document.querySelector('#deleteModal');
    const modal = new bootstrap.Modal(createModal);
    modal.show();
}
</script>

</html>